compatibility_date = "2023-06-28"
compatibility_flags = []

name = "atomic-lti-endpoints"
kv_namespaces = [
  {binding = "OAUTH_STATE", id = "xxx", preview_id = "xxx"},
  {binding = "KEY_SETS", id = "xxx", preview_id = "xxx"},
  {binding = "JWKS", id = "xxx", preview_id = "xxx"},
  {binding = "REMOTE_JWKS", id = "xxx", preview_id = "xxx"},
  {binding = "OIDC", id = "xxx", preview_id = "xxx"},
  {binding = "CLIENT_AUTH_TOKENS", id = "xxx", preview_id = "xxx"},
  {binding = "PLATFORMS", id = "xxx", preview_id = "xxx"},
]

# durable_objects.bindings = [
#   {name = "OIDC_STATE", class_name = "OIDCState", script_name = "server/durable-objects/oidc_state.ts" },
# ]

